* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
*::-webkit-scrollbar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    display: none;
}
body {
    background: #081b29;
    color: #ededed;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    overflow-x: hidden;
}

.header{
    position:static;
    top: 0;
    left: 0;
    min-height: 100%;
    max-width: 100%;
    padding: 28px 10% ;
    background: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(20, 20, 76);
    
}
.header a{
    font-size: 25px;
    font-weight: 90px;
    color:#3e9cde;
    text-decoration: none;
    font-weight: 500;
    position:sticky;
    margin-left: 5px;
}
.navbar a{
    font-size: 18px;
    color: #ededed;;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;
    
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content {
    max-width: 800px;
}
.home-content h1 {
 font-size: 56px;
 font-weight: 700;
 position: absolute;
 top: 230px;   
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0; 
    position: absolute;
    top: 315px;  
   }
.home-content p {
    font-size: 18px; 
    margin: 20px 0 40px;  
   }
.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
   }
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100%;
    background: #00abf0;
    border: 2px solid  #00abf0;
    border-radius: 8px;
    font-size: 20px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
   }
.btn-box a:hover{
    color: #00abf0;
   }
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;

}
.btn-box a:hover::before{
    width: 100%;
}
.home-sci {
    position: absolute;
    bottom: 40px;
    width: 90px;
    display: flex;
    justify-content: space-between;
}
.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover {
    color: #081b29;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before {
    width: 100%;
}
.image{
    width: 228px;
    height: 300px;
    background-image: url(Personal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    margin-left: 120px;
    margin-bottom: 200px;
}

.home-content h2 {
    font-size: 30px;
    font-weight: 800; 
    position: fixed;
    padding: 20px 20px;
    top: 200px;
    left: 70px;  
   }
.home-content ul {
    font-size: 20px;
    font-weight: 200;
    align-items: center;
    position: fixed;
    padding: 30px 20px;
    top: 240px;
    left: 90px;
    max-width: 1100px;
   }
   .education{
    line-height: 45px;
   }
   .education-content h2 {
    font-size: 30px;
    font-weight: 800; 
    position: fixed;
    padding: 20px 20px;
    top: 200px;
    left: 70px;  
   }
   .education-content ul {
    font-size: 20px;
    font-weight: 200;
    align-items: center;
    position: fixed;
    padding: 30px 20px;
    top: 240px;
    left: 90px;
    max-width: 1100px;
   }

.certifications-content h2 {
    font-size: 32px;
    font-weight: 800; 
    position: fixed;
    padding: 20px 20px;
    top: 152px;
    left: 70px;  
   }
   .certifications-content p {
    font-size: 20px;
    font-weight: 800; 
    position: fixed;
    padding: 20px 20px;
    top: 210px;
    left: 70px;  
    color: #ededed;
    text-decoration: none;  
   }
   .certifications-content ul {
    font-size: 20px;
    font-weight: 200;
    align-items: center;
    position: fixed;
    padding: 30px 20px;
    top: 240px;
    left: 110px;
    max-width: 400px;
   }
   .courses-content h2 {
    font-size: px;
    font-weight: 800; 
    position: relative;
    padding: 20px 20px;
    top: 7px;
    left: 70px; 
    color: #00abf0;
    max-width: 1300px;
   }
   .courses-content p {
    font-size: 18px;
    font-weight: 800; 
    position: absolute;
    padding: 20px 20px;
    top: 140px;
    left: 70px;  
    color: #a39aa5; 
   }
   .courses-content h3 {
    font-size: 22px;
    font-weight: 200;
    position: absolute;
    padding: 30px 20px;
    top: 170px;
    left: 65px;
    max-width: 600px;
   }
   .courses-content ul {
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    padding: 30px 20px;
    top: 210px;
    left: 90px;
    max-width: 1200px;
   }
   .courses-content2 h2 {
    font-size: px;
    font-weight: 800; 
    position: relative;
    padding: 20px 20px;
    top: 300px;
    left: 70px; 
    color: #00abf0;  
   }
   .courses-content2 p {
    font-size: 18px;
    font-weight: 800; 
    position: absolute;
    padding: 20px 20px;
    top: 510px;
    left: 70px;  
    color: #a39aa5; ;  
   }
   .courses-content2 h1{
    font-size: 18px;
    font-weight: 800; 
    position: absolute;
    padding: 20px 20px;
    top: 540px;
    left: 70px;  
    color: #a39aa5; ;   
   }
   .courses-content2 h3{
    font-size: 22px;
    font-weight: 200;
    position: absolute;
    padding: 30px 20px;
    top: 570px;
    left: 70px;
    max-width: 1300px;
   }
   .courses-content2 ul {
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    padding: 30px 20px;
    top: 650px;
    left: 90px;
    max-width: 1200px;
   }
   .courses-content3 h2 {
    font-size: 25px;
    font-weight: 800; 
    position: relative;
    padding: 20px 20px;
    top: 540px;
    left: 70px; 
    color: #00abf0;  
   }
   .courses-content3 p {
    font-size: 18px;
    font-weight: 800; 
    position: absolute;
    padding: 20px 20px;
    top: 830px;
    left: 70px;  
    color: #a39aa5; ;  
   }
   .courses-content3 h1{
    font-size: 18px;
    font-weight: 800; 
    position: absolute;
    padding: 20px 20px;
    top: 860px;
    left: 70px;  
    color: #a39aa5; ;   
   }
   .courses-content3 h3{
    font-size: 22px;
    font-weight: 200;
    position: absolute;
    padding: 30px 20px;
    top: 890px;
    left: 70px;
    max-width: 1300px;
   }
   .courses-content3 ul {
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    padding: 30px 20px;
    top: 940px;
    left: 90px;
    max-width: 1200px;
   }
   .courses-content4 h2 {
    font-size: 25px;
    font-weight: 800; 
    position: relative;
    padding: 20px 20px;
    top: 1070px;
    left: 70px; 
    color: #00abf0;  
   }
   .courses-content4 p {
    font-size: 18px;
    font-weight: 800; 
    position: absolute;
    padding: 20px 20px;
    top: 1440px;
    left: 70px;  
    color: #a39aa5; ;  
   }
   .courses-content4 h1{
    font-size: 18px;
    font-weight: 800; 
    position: absolute;
    padding: 20px 20px;
    top: 1470px;
    left: 70px;  
    color: #a39aa5; ;   
   }
   .courses-content4 h3{
    font-size: 22px;
    font-weight: 200;
    position: absolute;
    padding: 30px 20px;
    top: 1500px;
    left: 70px;
    max-width: 1350px;
   }
   .courses-content4 ul {
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    padding: 30px 20px;
    top: 1580px;
    left: 90px;
    max-width: 1200px;
   }
   .courses-content5 h2 {
    font-size: 25px;
    font-weight: 800; 
    position: relative;
    padding: 20px 20px;
    top: 1500px;
    left: 70px; 
    color: #00abf0;  
   }
   .courses-content5 h1{
    font-size: 18px;
    font-weight: 800; 
    position: absolute;
    padding: 20px 20px;
    top: 1950px;
    left: 70px;  
    color: #a39aa5; ;   
   }
   .courses-content5 h3{
    font-size: 22px;
    font-weight: 200;
    position: absolute;
    padding: 30px 20px;
    top: 1980px;
    left: 70px;
    max-width: 1250px;
   }
   .courses-content5 ul {
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    padding: 30px 20px;
    top: 2060px;
    left: 90px;
    max-width: 1200px;
   }
   .courses {
    line-height: 40px;
   }
   .projects {
    line-height: 50px;
   }

   .projects-content h2 {
    font-size: 40px;
    font-weight: 800; 
    position: fixed;
    padding: 20px 20px;
    top: 130px;
    left: 70px;  
   }
   .projects-content a {
    font-size: 23px;
    font-weight: 800; 
    position: fixed;
    padding: 20px 20px;
    top: 200px;
    left: 70px;  
    color: #ededed;
    text-decoration: none;
   }
   .projects-content ul {
    font-size: 20px;
    font-weight: 200;
    align-items: center;
    position: fixed;
    padding: 30px 20px;
    top: 230px;
    left: 90px;
    max-width: 400px;
   }
   .projects-content2 a {
    font-size: 22px;
    font-weight: 800; 
    position: fixed;
    padding: 20px 20px;
    top: 390px;
    left: 70px;
    color: #ededed;
    text-decoration: none;  
   }
   .projects-content2 ul {
    font-size: 20px;
    font-weight: 200;
    align-items: center;
    position: fixed;
    padding: 30px 20px;
    top: 430px;
    left: 90px;
    max-width: 900px;
   }
   .skills-content h2 {
    font-size: 35px;
    font-weight: 800; 
    position: fixed;
    padding: 20px 20px;
    top: 150px;
    left: 65px;  
   }
   .skills-content ul {
    font-size: 20px;
    font-weight: 200;
    align-items: center;
    position: fixed;
    padding: 30px 20px;
    top: 200px;
    left: 90px;
    max-width: 1100px;
   }
   .skills-content {
    line-height: 40px;
   }
.contact-info{
    font-size: 20px;
    font-weight: 200;
    align-items: center;
    position: fixed;
    padding: 30px 20px;
    top: 200px;
    left: 90px;
    max-width: 1100px; 
}
.contact {
    line-height: 60px;
    height: 100vh;
    display:flex;
    align-items: center;
    padding: 0 10%;
}